.TodoTemplate{
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top:6rem;
    border-radius: 4px;
    overflow: hidden;

    .app-title{
        display: flex;
        background: #22b8cf;
        color: white;
        height: 4rem;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
    }

    .content{
        background-color: white;
    }
}